body {
    margin: 0;
    font-family: "Roboto";
}

html {
    scroll-behavior: smooth;
}
.tb-doc-fixed {
    position: fixed;
    left: 0;
    top: 0;
    bottom: auto;
    margin: 0 auto;
    background: #f9f9f9;
    height: 100vh;
    width: 380px;
    overflow: hidden;
    overflow-y: scroll;
}
.tb-doc-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
}
.tb-logo {
    text-align: center;
    padding: 16px;
    background: #eee;
}
.youtube-video-embed {
    margin: 30px 0 0 0;
}
.support-img {
    margin: 40px 0 0 0;
}
.tb-doc-list {
    margin: 0;
    padding: 0;
}
.preview-img a{
    padding: 5px;
    border: 3px solid #eee;
    display:  inline-block;
}
.tb-doc-list li {
    list-style: none;
}
.tb-doc-list li a {
    font: 400 16px/30px "Roboto", Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: all 0.5s;
    padding: 11px 40px;
    display: block;
}
.tb-doc-list li a:hover {
    color: #007ed5;
    background: #eee;
}
.tb-doc-body{
    display: flex;
}
.tb-document-right {
    padding: 20px 70px;
    margin: 0 0 0 380px;
}
.commen-text{
    padding: 20px 0;
}
.commen-text p{
    font: 400 16px/30px "Roboto", Helvetica, sans-serif;
    color: #000; 
}
.commen-text code {
    display: block;
    background: #f9f9f9;
    padding: 40px;
}
.commen-text p a{
    color: #007ed5;
    text-decoration: none;
    transition: all 0.5s;
}
.commen-text p a:hover{
    color: #000;
}
.commen-text p:last-child{
    margin: 0;
}
.commen-text h2 {
    font: 500 32px/42px "Roboto", Helvetica, sans-serif;
    color: #2d2c2c;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.common-image {
    padding: 20px 0;
}
.commen-text h3 {
    font: 500 22px/32px "Roboto", Helvetica, sans-serif;
    color: #2d2c2c;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    padding: 20px 0 0 0;
}
/* Responsive start*/
@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .tb-doc-fixed{
        width: 240px;
    }
    .tb-document-right{
        margin: 0 0 0 240px;
    }
    .tb-document-right{
        padding: 25px;
    }
}

@media (min-width: 768px) {}

@media (max-width: 767px) {
    .tb-doc-left{
        position: static;
    }
    .tb-doc-fixed{
        position:relative;
    }
    .tb-document-right {
        margin: 0;
    }
    .tb-doc-body {
        display: block;
    }
    .tb-doc-fixed {
        width: 100%;
        height: auto;
    }
    .tb-doc-list li a{  
        padding: 8px 20px;
        font-size: 15px;
        line-height: 20px;
    }
    .commen-text code{
        padding: 20px;
    }
    .commen-text h2{
        font-size: 24px;
    }

}

@media (max-width: 575px) {
}

@media (max-width: 543px) {
   
}
@media (min-width: 481px) {
}
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}


/* Responsive end*/
